MONGODB_URI = YOUR_MONGODB_CONNECTION_STRING
JWT_SECRET = your_jwt_secret_key
APP_URL=YOUR_APP_URL
RESEND_API_KEY=YOUR_RESEND_API_KEY

# Cloudflare R2 Storage
R2_ACCOUNT_ID=accountid
R2_ACCESS_KEY_ID=accesskey
R2_SECRET_ACCESS_KEY=secretaccesskey
R2_BUCKET_NAME=bucket_name
R2_PUBLIC_URL=https://your-r2-public-url
